<%- include("./partials/header")  %>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Ketan Todo App</span>
  </nav>

<div class="container mt-5">
    <form action="/add/todo" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="Enter Todo">
        <input type="submit" value="Add Todo" class="btn btn-md btn-danger mx-2">
    </form>


    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
        <li class="list-group-item"><%= todos.todo %> <a href="/delete/todo/<%= todos._id %>"
                class="btn btn-danger btn-sm">Delete</a></li>
        <% }) %>



        <div class="container my-5">

        
              <div class="text-center text-white p-3 bg-light">
               
                <a class="text white" href="https://www.linkedin.com/in/ketan-prajapati-104877212">
                    © 2022 CodeClause: Linkdin_Ketan_Prajapati 
                </a>
              </div>
          
            
          </div>
          <!-- End of .container -->
    </ul>
</div>





<%- include("./partials/footer")  %>




